@if (Available && Account == null)
{
    <button @onclick="EnableProviderAndGetAddress">Connect to metamask</button>

}
else if (Available)
{
    <button disabled>@Account</button>
}
else
{
    <button disabled>Install Metamask</button>
}
